
@import 'variables';

.GameCanvas {
    // Design everything with a nice em of 10px.
    font-size: $base-font-size;

    // Create a 1024x576 pixel canvas.
    // If everything is defined in em's, you can resize
    // the whole game just by changing the font-size above
    // with javascript.
    position: absolute;
    left: 50%;
    top: 50%;
    width: em(500px);
    height: em(600px);
    margin-left: (em(-500px) / 2);
    margin-top: (em(-600px) / 2);

    // Don't draw outside this box.
    overflow: hidden;

    // Some graphics
    background-image: url('../images/background-city.PNG');
}

.Ground-moving {
	margin-top: em(490px);
	background-image: url('../images/ground-moving.PNG');
	width: em(550px);
	height: em(23px);
	position: absolute;
	/*transform: translate(em(-50px), 0);
	transition: transform 1s;*/
	animation: scrolling 0.5s linear infinite running;
}
@keyframes scrolling
{
	from   {left:0px; top:0px;}
	to {left: -50px;}
}

.Ground-static {
	background-image: url('../images/ground-static.PNG');
	margin-top: em(513px);
	width: em(500px);
	height: em(87px);
}