
@import 'variables';

.GameCanvas {
    // Design everything with a nice em of 10px.
    font-size: $base-font-size;

    // Create a 500x600  pixel canvas.
    // If everything is defined in em's, you can resize
    // the whole game just by changing the font-size above
    // with javascript.
    position: absolute;
    left: 50%;
    top: 50%;
    width: em(500px);
    height: em(600px);
    margin-left: (em(-500px) / 2);
    margin-top: (em(-600px) / 2);
    box-shadow: 0px 3px 15px 0px rgba(50, 50, 50, 0.75);
    // Don't draw outside this box.
    overflow: hidden;

    // Some graphics
    background-image: url('../images/background-city.PNG');
}

.Ground-moving {
	margin-top: em(490px);
	background-image: url('../images/ground-moving.PNG');
	width: em(550px);
	height: em(23px);
	position: absolute;

	animation: scrolling 0.5s linear infinite running;
}

@keyframes scrolling
{
	from { transform: translate3d(0, 0, 0); }
	to { transform: translate3d(-50px, 0, 0); }
}

.Ground-static {
	background-image: url('../images/ground-static.PNG');
	margin-top: em(513px);
	width: em(500px);
	height: em(87px);
}

.x1 {
	position: absolute;
	background-image: url('../images/cloud-moving.PNG');
	width: em(98px);
	height: em(41px);
	margin-top: em(100px);
	transform: scale(1.5,1.5);
	animation: cloud-scrolling 20s linear infinite running;
}

.x2 {
	position: absolute;
	background-image: url('../images/cloud-moving.PNG');
	width: em(98px);
	height: em(41px);
	margin-top: em(50px);
	animation: cloud-scrolling 30s linear infinite running;
}

.x3 {
	position: absolute;
	background-image: url('../images/cloud-moving.PNG');
	width: em(98px);
	height: em(41px);
	margin-top: em(200px);
	transform: scale(.5,.5);
	animation: cloud-scrolling 40s linear infinite running;
}

@keyframes cloud-scrolling
{
	from { transform: translate3d(500px, -3px, 0); }
	to { transform: translate3d(-300px, 70px, 0); }
}

.audio {
    position: absolute;
    left:0px;
    top:0px;
}

.pipe_upper {
	position: absolute;
	top: 0%;
	background-image: url('../images/pipe-above.PNG');
	background-position: bottom left;
	width: em(52px);
	/*height: em(320px);*/
	/*margin-top: em(-200px);*/
	animation: scrolling-pipe 10s linear infinite running;
}

.pipe_lower {
	position: absolute;
	bottom: 0%;
	background-image: url('../images/pipe-below.PNG');
	width: em(52px);
	/*height: em(320px);*/
	/*margin-top: em(200px);*/
	animation: scrolling-pipe 10s linear infinite running;
}

@keyframes scrolling-pipe
{
	from { transform: translate3d(500px, 0, 0); }
	to { transform: translate3d(-500px, 0, 0); }
}

